<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/solarized.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/darcula.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/oceanic-next.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/shadowfox.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/monokai.css">
  <link rel="stylesheet" href="stylesheets/timer.css">

  <title>
    <%= title %>
  </title>
          
          <link rel="stylesheet" href="/stylesheets/WCE.css">
          <link rel="stylesheet" href="/stylesheets/style.css">
          <link rel="stylesheet" href="/stylesheets/quiz.css">
          <link rel="stylesheet" href="/stylesheets/toolbar.css">
          <script defer src="/javascripts/toolbar.js"></script>
          <script src="/javascripts/users.js"></script>
          <script src="/javascripts/calculator.js"></script>
          <script defer src="/javascripts/paint.js"></script>
          <script src="/javascripts/pausefish.js"></script>

          <script src="/javascripts/savepdf.js"></script>
          <!-- QUIZ -->
          <script defer src="/javascripts/quiz/quiz.js"></script>

          <script src="/javascripts/server.js"></script>
          <script src="/javascripts/phone.js"></script>
          

          <script defer src="/javascripts/code_editor/codemirror/lib/codemirror.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/javascript/javascript.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/python/python.js"></script>
          <script defer src="javascripts/code_editor/codemirror/mode/clike/clike.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/clike/clike.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/css/css.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/xml/xml.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/markdown/markdown.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/sql/sql.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/ruby/ruby.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/addon/edit/closebrackets.js"></script>
          <script defer src="/javascripts/code_editor/WCE.js"></script>

        </head>

<body>
  <div class="toolbar" id="toolbar">
    <nav>
        <menu>
            <li id="paint_button">Paint</li>
            <li id="code_button">Code-editor</li>
            <li id="quiz_button">Quiz</li>
            <li id="calc_button">Calculator</li>
<li id="timer_button">Timer</li>
        </menu>
    </nav>
</div>



<div id="quizProgram" class="quiz_container">

  <div class="quiz_index" id="quiz_index">
    <label for="create_quiz_text">Quiz name</label>
    <input type="text" id="create_quiz_text">
    <button id="create_quiz_button">Create quiz</button>

    <label for="search_quiz_text">Search quizzes</label>
    <input type="text" id="search_quiz_text">

    <table id="search_quiz_table">
      <tr>
        <th>Quiz name</th>
        <th>Start Quiz</th>
      </tr>
    </table>
  </div>

  <div class="creat_quiz_div" id="creat_quiz_div" style="display: none;">
    <label for="quiz_name">Quiz Name:</label>
    <a id="quiz_name"></a><br><br>

    <label for="question_txt_field">Question:</label>
    <input type="text" id="question_txt_field"><br>
    <div class="answer_container" id="answer_container0">
    <label for="answer0" class="answer_label_class">Answer 0:</label>
    <input type="text" class="answer_text_class" id="answer0">
    <input type="checkbox" class="answer_checkbox_class" id="checkbox0" checked="true">
    </div>
    <button id="create_new_answer" value="ADD ANSWER" onclick="create_new_answer_box()">Add answer</button><br>
    <button id="create_QAs">Create question & answer</button><br>
    <button onclick="clearQAs()">Clear Q & A's</button><br>

  </div>
  <div id="quiz_output" style="display: none;">

  </div>

</div>

  <div id="paintProgram" class="paint">
    <canvas id="canvas"></canvas>
    <div class="colors">
      <button class="color" style="background-color: black;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: red;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: green;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: yellow;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: purple;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: brown;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: wheat;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: indianred;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: orchid;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: paleturquoise;" onclick="changeColor(this)"></button>
    </div>
    <div class="options">
      <button onclick="clearCanvas()" id="clearCanvas" class="color">Clear canvas</button>
      <input oninput="draw_color = this.value" type="color" class="colorpick">
      <input oninput="draw_withd = this.value" type="range" min="1" max="100" class="pen">
    </div>
  </div>


  <!-- JONS code editor -->
  <div id="codeProgram" class="code_editor">
  <textarea id="code"></textarea>
  <select id="language">
  </select>
  <select id="theme">
      <option value="darcula">Darcula</option>
      <option value="solarized">Solarized</option>
      <option value="oceanic-next">Oceanic Next</option>
      <option value="shadowfox">Shadowfox</option>
      <option value="monokai">Monokai</option>
  </select>
</div>


<!--- CALC -->
<div id="calcProgram" class="calculatorMain"> 
<div class="calc">
  <div class="expressions">
      <button id="1" onclick="addToResult('1')">1</button>
      <button id="2" onclick="addToResult('2')">2</button>
      <button id="3" onclick="addToResult('3')">3</button>
      <button id="+" onclick="addToResult('+')">+</button> <br>
      <button id="4" onclick="addToResult('4')">4</button>
      <button id="5" onclick="addToResult('5')">5</button>
      <button id="6" onclick="addToResult('6')">6</button>
      <button id="-" onclick="addToResult('-')">-</button> <br>
      <button id="7" onclick="addToResult('7')">7</button>
      <button id="8" onclick="addToResult('8')">8</button>
      <button id="9" onclick="addToResult('9')">9</button>
      <button id="/" onclick="addToResult('/')">/</button> <br>
      <button id="0" onclick="addToResult('0')">0</button>
      <button id="%" onclick="addToResult('%')">%</button>
      <button id="^" onclick="addToResult('^')">^</button>
      <button id="*" onclick="addToResult('*')">*</button> <br>
      <button id="!" onclick="addToResult('!')">!</button>
      <button id="C" onclick="clearDisplay()">C</button> <br>
      <button id="submit" onclick='calculate(); addToHistory();'>Submit</button> <br><br>
      <input type="text" id="display" class="display"> 
  </div>

  <div class="history">
      <input type="text" id="historyText" class="historyText"> <br>
      <button id="clearHistory" onclick="clearHistory()">CLEAR</button>
  </div>
</div>
</div> 


<!--- TIMER -->
<div id="timerProgram">
  <!--This is the trigger for the modal-->       
  <div class="sticky"> 
    <button id="pauses"> Click here for pause options </button>
  </div>

  <!--this is the modal-->        
  <div id="myModalforPauses" class="modal">

  <!--this is the modal content-->

     <div class="modal-content"> 
          <span class="close">&times;</span>
             <p><ul>
             <li><button id="longwork" class="timer" onclick="timer(1,30,0)" >Long work, long break </button></li> 
             <li><button id="shortwork" class="timer" onclick="timer(0,45,0)" >Short work, short break </button></li>
             <li><button id="chore" class="timer" onclick="timer(3)" >Finish a chore! </button></li>
             <li><button id="relax" class="timer" onclick="timer(4)" >Relax break</button></li>
             <li><button id="other" class="timer" onclick="timer(5)" >other</button></li>
             </ul></p>
      </div>
   </div>
    <!--Moved a </div> from here to under the calc, since it does not pertain to this code-->

    <div class="sticky"> 
      <div class="clock"> 
        <span id="hrs">00</span>
        <span>:</span>
        <span id="min">00</span>
        <span>:</span>
        <span id="sec">00</span>
      </div> 
     </div>
   
<script src="/javascripts/timer.js"></script>
<script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
</body>

</html>