<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/solarized.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/darcula.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/oceanic-next.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/shadowfox.css">
  <link rel="stylesheet" href="javascripts/code_editor/codemirror/theme/monokai.css">
  <title>
    <%= title %>
  </title>
          <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
          <link rel="stylesheet" href="/stylesheets/WCE.css">
          <link rel="stylesheet" href="/stylesheets/style.css">
          <link rel="stylesheet" href="/stylesheets/quiz.css">
          <script src="/javascripts/dropdown.js"></script>
          <script src="/javascripts/users.js"></script>
          <script src="/javascripts/calculator.js"></script>
            <script defer src="/javascripts/paint.js"></script>
          <script src="/javascripts/pausefish.js"></script>
          <script src="/javascripts/timer.js"></script>
          <script src="/javascripts/savepdf.js"></script>
          <script defer src="/javascripts/quiz/quiz.js"></script>
          <script src="/javascripts/server.js"></script>
          <script src="/javascripts/phone.js"></script>
          

          <script defer src="/javascripts/code_editor/codemirror/lib/codemirror.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/javascript/javascript.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/python/python.js"></script>
          <script defer src="javascripts/code_editor/codemirror/mode/clike/clike.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/clike/clike.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/css/css.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/xml/xml.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/markdown/markdown.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/sql/sql.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/mode/ruby/ruby.js"></script>
          <script defer src="/javascripts/code_editor/codemirror/addon/edit/closebrackets.js"></script>
          <script defer src="/javascripts/code_editor/WCE.js"></script>


          
        </head>

<body>
  <div class="quiz_container">

    <div class="quiz_div">
      <label for="quiz_name">Quiz Name:</label>
      <input type="text" id="quiz_name"><br><br>


        <label for="question_txt_field">Question:</label>
        <input type="text" id="question_txt_field"><br>
        <div class="answer_container" id="answer_container0">
        <label for="answer0" class="answer_label_class">Answer 0:</label>
        <input type="text" class="answer_text_class" id="answer0">
        <input type="checkbox" class="answer_checkbox_class" id="checkbox0" checked="true">
        </div>
        <button id="create_new_answer" value="ADD ANSWER" onclick="create_new_answer_box()">Add answer</button><br>
        <button id="create_QAs">Create question & answer</button><br>
        <button onclick="clearQAs()">Clear Q & A's</button><br>
        <button id="start_quiz">Start quiz</button><br>
        <button onclick="end_quiz()">End quiz</button><br>
    </div>
    <div id="quiz_output">

      
    </div>

  </div>

  <div class="paint">
    <canvas id="canvas"></canvas>
    <div class="colors">
      <button class="color" style="background-color: black;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: red;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: green;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: yellow;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: purple;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: brown;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: wheat;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: indianred;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: orchid;" onclick="changeColor(this)"></button>
      <button class="color" style="background-color: paleturquoise;" onclick="changeColor(this)"></button>
    </div>
    <div class="options">
      <button onclick="clearCanvas()" id="clearCanvas" class="color">Clear canvas</button>
      <input oninput="draw_color = this.value" type="color" class="colorpick">
      <input oninput="draw_width = this.value" type="range" min="1" max="100" class="pen">
    </div>
  </div>




  <!-- JONS code editor -->
  <div class="code_editor">
  <textarea id="code"></textarea>
  <select id="language">
  </select>
  <select id="theme">
      <option value="darcula">Darcula</option>
      <option value="solarized">Solarized</option>
      <option value="oceanic-next">Oceanic Next</option>
      <option value="shadowfox">Shadowfox</option>
      <option value="monokai">Monokai</option>
  </select>
</div>
  

</body>

</html>