<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>collaborative whiteboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <nav class="nav_bar">
            <ul class="nav_list">
                <li><a href="/"><h1>Collab <span>whiteboard</span></h1></a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <h1>Collaborative Whiteboard</h1>
        <div>
            <button id="create-room">Create Room</button>
        </div>
        <div>
            <button id="join-room">Join Room</button>
        </div>
    </div>
    <script src="/javascripts/homepage.js"></script>
</body>
</html>
