<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Selection Text Editor</title>
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="codemirror/theme/solarized.css">
    <link rel="stylesheet" href="codemirror/theme/darcula.css">
    <link rel="stylesheet" href="codemirror/theme/oceanic-next.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <textarea id="code"></textarea>
    <select id="language">
    </select>
    <select id="theme">
        <option value="default">Default</option>
        <option value="solarized">Solarized</option>
        <option value="darcula">Darcula</option>
        <option value="oceanic-next">Oceanic Next</option>
    </select>


    <script src="/javascript/code_editor/codemirror/lib/codemirror.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/javascript/javascript.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/python/python.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/cpp/cpp.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/clike/clike.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/css/css.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/xml/xml.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/markdown/markdown.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/sql/sql.js"></script>
    <script src="/javascript/code_editor/codemirror/mode/ruby/ruby.js"></script>
    <script src="/javascript/code_editor/WCE.js"></script>
</body>
</html>
