.calculatorMain{
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #ddd 0%, #eee 25%, rgb(192, 201, 199) 50%, #eee 75%, #ddd 100%);
    background-size: 200% 100%;
    /* border-radius: 10px; */
    display: flex;
    position: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

  .calculatorMain::after {
    background-image: linear-gradient(45deg, rgba(255,255,255,0.1), rgba(255,255,255,0.02))
}


.display{
    width: 93%;
    padding: 5px;
    margin: 5px;
    height: 30px;
    border-radius: 4px;
    border: 1px black;
    background-color: white;
    color: black;
    font-size: 16px;
}
.calcKeys{
    width: 100%;
    height: 100%;

}

.calcHistory{
    width:100%;

}

.calcbuttonKey {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px black;
    background-color: grey;
    font-size: 16px;
}

.calcbuttonCalc {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px black;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

.calcbuttonDelete {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px black;
    background-color: darkblue;
    color: white;
    font-size: 16px;
}

.calcbuttonSubmit {
    width: 80px;
    height: 50px;
    border-radius: 15px;
    border: 1px black;
    background-color: darkblue;
    color: white;
    font-size: 16px;
}

.classHistory {
    /* width: 93%; */
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px;
    /* height: 170px; */
    border-radius: 4px;
    border: 1px black;
    background-color: white;
    color: black;
    font-size: 12px;
}

.clearHistoryButton {
    width: 180px;
    height: 50px;
    border-radius: 15px;
    background-color: darkblue;
    border: 1px black;
    color: white;
    font-size: 16px;
}

.test{
    width: 53%;
    padding: 5px;
    margin: 5px;
    height: 30px;
    border-radius: 4px;
    border: 1px black;
    background-color: white;
    color: black;
    font-size: 16px;
}


  