.quiz_container {
  border: 1px solid black;
  /* border-radius: 10px; */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto; 
  position: relative;
  padding: 20px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 5%;
}

.answer_container{ 
display: flex; 
align-items: center; 
margin-top: 5%;
margin-bottom: 10px;
}


/* Quiz index */
.quiz_index label {
display: block;
margin-bottom: 5px;
}

.quiz_index input[type="text"]{
  width: 50%;
}
.quiz_index button {
  width: 30%;
margin-bottom: 10px;
}

/* Search quiz table */
#search_quiz_table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

#search_quiz_table th,
#search_quiz_table td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}

/* Create quiz div */
.creat_quiz_div label {
display: block;
margin-bottom: 5px;
}

.creat_quiz_div input[type="text"] {
margin-bottom: 10px;
}

.answer_label_class {
margin-right: 10px;
}

.answer_text_class {
margin-right: 10px;
}

.answer_checkbox_class {
margin-right: 10px;
}

/* Buttons */
#create_new_answer,
#create_QAs,
button {
margin-bottom: 10px;
}
#quiz_index button{
  width: 100%;
  margin-bottom: 30px;
  left: 50px;
}


/* tyv stjålet fra CHATTEN */
.quiz_container{
  background-image: linear-gradient(to bottom right, #ddd 0%, #eee 25%, rgb(192, 201, 199) 50%, #eee 75%, #ddd 100%);
  background-size: 200% 100%; /* Animate gradient movement */
}
.quiz_container::after {
  background-image: linear-gradient(45deg, rgba(255,255,255,0.1), rgba(255,255,255,0.02));
}
.quiz_container label, input, button {
  margin-bottom: 10px; 
}

/* Text Label */
.quiz_container label {
  color: #333;
  margin-bottom: 2px;
  display: inline-block;
} 

/* Input Text */
.quiz_container input[type="text"]{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
}

/* minimise button */
#quiz_min_button {
  color: white;
  float: right;
  background-color: white;
  color: black;
}

#quiz_home_screen{
  margin-bottom: 20%;
}
