body{
  margin:0px;
}
/* Button */
button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0067cc;
}

/* .codeProgram{
  position: flex;
} */

.paint {
  position: relative;
  /* width: 100%;
  height: 100%;
  left: 0%; */
  border: 1px SOLID Black;
}

canvas {
  left: 0%;
  border-bottom: 1px SOLID Black;

}

.options {
  display: flex;
}

.colors {
  display: flex;
}

.color {
  height: 50px;
  width: 100px;
}

.colorpick {
  height: 50px;
  width: 100px;
}

#paintProgram .canvasButton{
  color: black;
}