body {
}

button {
  padding: 5px;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #39843a;
}

.paint {
  position: absolute;
  width: 100%;
  left: 0%;
  border: 2px SOLID Black;
}

canvas {
  width: 100%;
  left: 0%;
  border: 2px SOLID Black;
  height: 50%;
}

.options {
  display: flex;
}

.colors {
  display: flex;
}

.color {
  height: 50px;
  width: 100px;
}

.colorpick {
  height: 50px;
  width: 100px;
}

.calculatorMain{
  position: absolute;
  left: 50%;
  top: 1000px;
  height: 50%;
  width: 10%;
  border: 2px SOLID black;
}