
div.stickymodal > #pauses {
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: rgb(99, 95, 160);
    border: 5px solid rgb(95, 160, 133);
    cursor:pointer;
    transition: background-color 0.25s;
}
div.stickymodal > #pauses:hover {
    background-color: orange;
}

div#pause_option_popup {
position: fixed;
width: 300px;
height: 200px;
background: white;
border: 1px solid black;
padding: 10px;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left 0;
z-index: ;

}

  
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}


/*The below styling is meant to replace the content of the sticky class with a digital clock when the modal buttons have been pressed*/

/*This is the sticky which is hidden by default, but will be brought up when btn2 is pressed, and will replace the original sticky*/

div.stickyclock > .clock {

    display: none;
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: rgb(99, 95, 160);
    border: 5px solid rgb(95, 160, 133);
    cursor:pointer;
    transition: background-color 0.25s;

}

div.stickyclock:hover {
    display: none;
    background-color: orange;
}

