menu {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 75px;
    width: 100%;
}

/*I think this style below is the cause for the glitch with the timer options. Since they are presented as lists items*/

.toolbar_element {
    color: white;
    padding: 25px;
    display: block;
    display: flex;
    text-align: center;
    float: left;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

li:hover{
    background-color: hsl(0, 0%, 10%);
}

#primary_dropzone {
    position: fixed;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#draw_area {
    position: fixed;
    height: 100%;
    width: 100%;
}