select {
    padding: 8px 12px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #f7f7f7; 
    color: #333;
    appearance: none;
}

#code {
    width: 100%; 
    height: 100%; 

}

.code_editor{
    position: absolute;
    top: 1000px;
    width: 50%;
}