body {
    overflow: hidden;
}

button {
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}
  
button:active {
    background-color: #39843a;
}

.quiz_container {
    border: 2px SOLID black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    width: 48%;
    height: 50%;
    left: 50%;
}

.test_container {
    border: 2px SOLID black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    width: 48%;
    height: 500%;
    left: 50%;
    top: 50%;
}

#quiz_time_p {
    margin: 10px;
}

.quiz_div, .test_div{
    margin: 10px;
}

.answer_text_class{
    width: 85%;
    margin-top: 3%;
}

.paint{
    position: absolute;
    width: 40%;
    left: 0%;
    border: 2px SOLID Black;
    height: 100%;
}

canvas{
    border: 6px black;
    width: 100%;
    left: 0%;
    border: 2px SOLID Black;
    height: 50%;
}

.options{
    display: flex;
}

.colors{
    display: flex;
}

.color{
    height: 50px;
    width: 100px;
}

.colorpick{
    height: 50px;
    width: 100px;
}